<% include partials/header %>
<div class="container">
    <header>
        <h1>Welcome to YelpCamp! 
            <span><a class="btn btn-info btn-xs" href="/campgrounds/new" title="">Add New Campground</a></span>
        </h1>
        <p><mark>View our hand-picked campgrounds from ll over the world.</mark></p>
        <hr />
    </header>
    
    <section class="clearfix">
        <% campgrounds.forEach(function(campground) { %>
            <div class="col-lg-4">
                <h4><%= campground.name %></h4>
                <img class="img-responsive img-thumbnail" src="<%= campground.image %>" alt="Image for <%= campground.name %>"/>
                <p><a href="/campgrounds/<%= campground._id %>" title="<%= campground.name %>">More info</a></p>
            </div>
        <% }); %>
    </section>
</div>    
<% include partials/footer %>